body {
  font-family: 'Clash Grotesk', sans-serif;
  background-color: #000;
  color: #ffcc00;
  text-align: center;
}

.leaderboard-container {
  padding: 20px;
}

.leaderboard-card {
  background-color: #ffcc00;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.leaderboard-card:hover {
  transform: scale(1.05);
}

